* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 16px;
  font-family: 'Glass Antiqua', cursive;  
  color: #000000;
}

body {
  background-image: url("../img/vintage.png");
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Ewert', cursive;
  font-size: 30px;
  font-weight: bold;  
  color: #000000;
  margin: 0px;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

h2 {
  font-family: 'Glass Antiqua', cursive;  
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin: 0px;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

button {
  font-family: 'Glass Antiqua', cursive; 
  font-size: 20px;
  cursor: pointer; 
  cursor: hand;
}

.container {
  position: relative;
  width: 600px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  /*background-color: #ffffff;*/
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title {
  border: solid black 2px;
}

.player,
.stats,
.history {
  width: 150px;
  border: solid black 2px;
  border-top: 0;
}

.player {
  display: flex;
  flex-direction: column; 
}

.player-btn {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100px;
  margin: 0 auto;
  justify-content: space-around;
}

.showdown-btn,
.sciss-btn {
  padding: 1px 2px 1px 2px;
}

.active-rps {
  background-color: green;
}

.arena,
.taunts,
.chat {
  width: 300px;
  border-bottom: solid black 2px;
}

.arena {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.timer,
.result {
  width: 100%;
  text-align: center;
}
.taunts {
  display: flex;
  flex-direction: row;
}
.taunt-btn {
  width: 50px;
  height: 100%;
  margin: 0;
}

.player,
.arena {
  height: 200px;
}

.stats,
.taunts {
  height: 30px;
}

.history,
.chat {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.history,
.log {
  overflow-y: scroll;
}

.message {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
}

.log {
  flex: 1;
}

#text-message {
  width: 80%;
  height: 100%;
}

#send-btn {
  width:20%;
  height: 100%
}

.test-taunt {
  width: 50px;
  height: 50px;
  z-index: 5;
  /*animation: rotate 1s infinite;*/
  animation-name: rotate; 
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.test-taunt-box {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 150px;
  left: 125px;
  animation-name: translate;
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes translate {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform:  translate(60px,-60px)  ;
  }
  25% {
    transform:  translate(75px,-70px)  ;
  }
  50% {
    transform: translate(150px, -100px) ;
  }
  75% {
    transform:  translate(225px,-70px)  ;
  }
  80% {
    transform:  translate(240px,-60px)  ;
  }
  100% {
    transform: translate(300px, 0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
